@charset "UTF-8";



body {
    background-color: #a5a3a3;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

div{}

span{}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
}